<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>SPORTIFY - Xác Thực OTP</title>
<link rel="icon" href="/user/images/logotitle.png" type="image/x-icon">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link rel="stylesheet" href="/user/css/styleLogin.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row no-gutter">
			<!-- The image half -->
			<div class="col-md-6 d-none d-md-flex bg-image"></div>


			<!-- The content half -->
			<div class="col-md-6 bg-light">
				<div class="login d-flex align-items-center py-5">

					<!-- Đăng nhập-->
					<div id="loginForm" class="container" style="display: block;">
						<div class="row">
							<div class="col-lg-10 col-xl-7 mx-auto">
								<h3 class="display-4">Xác Thực OTP</h3>
								<form th:action="@{/sportify/checkOTP}" method="post">
									<span class="text-info" th:text="${thongbao}"></span>
									<div class="form-group mb-3">
										<input name="codeverification" type="number" placeholder="Nhập mã OTP gồm 6 số"
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
									</div>
									<span class="text-danger" th:text="${message}"></span>
									

									<div class="d-grid gap-2 mb-3">
										<button type="submit"
												class="btn btn-primary d-grid w-100">Xác Thực</button>
									</div>

									
									<hr>

									<div class="text-center d-flex justify-content-between mt-4">
										<p>
											Bạn chưa có tài khoản <a th:href="@{/sportify/signup}">Đăng Ký
									</div>

								</form>
							</div>
						</div>
					</div>
					<!-- End -->
					

				</div>
			</div>
			<!-- End -->

		</div>
	</div>

	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var forgotPassword = document.getElementById("forgotPassword");
			var loginForm = document.getElementById("loginForm");
			var forgotPasswordForm = document
					.getElementById("forgotPasswordForm");

			forgotPassword.addEventListener("click", function(event) {
				event.preventDefault();
				loginForm.style.display = "none";
				forgotPasswordForm.style.display = "block";
			});
		});
	</script>

	
</body>

</html>