<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Đăng Nhập</title>
<link rel="icon" href="/user/images/logotitle.png" type="image/x-icon">

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.1 -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
<link rel="stylesheet" href="/user/css/styleLogin.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row no-gutter">
			<!-- The image half -->
			<div class="col-md-6 d-none d-md-flex bg-image"></div>


			<!-- The content half -->
			<div class="col-md-6 bg-light">
				<div class="login d-flex align-items-center py-5">

					<!-- Đăng nhập-->
					<div id="loginForm" class="container" style="display: block;">
						<div class="row">
							<div class="col-lg-10 col-xl-7 mx-auto">
								<h3 class="display-4">Đăng nhập</h3>
								<p id="notification" class="text-info font-weight-bold" th:text="${thongbao}"></p>
								<form th:action="@{/sportify/login}" method="post">
									<div class="form-group mb-3">
										<input name="username" type="text" placeholder="username"
											class="form-control rounded-pill border-0 shadow-sm px-4">
									</div>
									<div class="form-group mb-3">
										<input name="password" type="password" placeholder="password"
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
									</div>
									<div th:if="${message!=null}" class="custom-control custom-checkbox mb-3">
										<label for="customCheck1"
											class="custom-control-label text-danger" th:text="${message}"></label>
									</div>
									

									<div class="d-grid gap-2 mb-3">
										<a th:href="@{/sportify/login/form}"><button
												class="btn btn-primary d-grid w-100">Đăng nhập</button></a>
									</div>

									<a style="font-size: 15px" id="forgotPassword" href=""> <u>Quên
											mật khẩu?</u></a>
									<a style="font-size: 15px; margin-left: 55%" th:href="@{/sportify}">Quay lại</a>
									<hr>

									<div class="text-center d-flex justify-content-between mt-4">
										<p>
											Bạn chưa có tài khoản <a th:href="@{/sportify/signup}">Đăng kí</a>
										</p>
									</div>

								</form>
							</div>
						</div>
					</div>
					<!-- End -->
					<!-- Quên mật khẩu-->
					<div id="forgotPasswordForm" class="container"
						style="display: none;">
						<div class="row">
							<div class="col-lg-10 col-xl-7 mx-auto">
								<h3 class="display-4">Quên mật khẩu</h3>
								<p class="text-muted mb-4">Chúng tôi sẽ giúp bạn khôi phục ký ức..!</p>
								<form th:action="@{/sportify/forgotpassword}" method="post"
									id="forgotPasswordForm">
									
									<div class="form-group mb-3">
										<input id="inputUsername" type="text" name="usernameforgot"
											placeholder="Tên tài khoản" required=""
											class="form-control rounded-pill border-0 shadow-sm px-4 text-primary">
										
									</div>
									<div class="form-group mb-3">
										<input id="inputEmail" type="text" placeholder="Email"
											required="" autofocus="" name="emailforgot"
											class="form-control rounded-pill border-0 shadow-sm px-4">
										<span id="invalidUserEmailMessage" class="text-danger"></span>
									</div>
									
									<button type="submit"
										class="btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"
										onclick="validateAndSubmit()">Khôi Phục Mật Khẩu</button>
								</form>

								<div class="text-center d-flex justify-content-between mt-4">
										<p>
											Đã có tài khoản <a th:href="@{/sportify/login}"> <u>Đăng nhập</u></a>
										</p>
									</div>

								</form>
							</div>
						</div>
					</div>
					<!-- End -->

				</div>
			</div>
			<!-- End -->

		</div>
	</div>
	
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		crossorigin="anonymous">
		
	</script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
		integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
		crossorigin="anonymous">
		
	</script>
	<script>
		document.addEventListener("DOMContentLoaded", function() {
			var forgotPassword = document.getElementById("forgotPassword");
			var loginForm = document.getElementById("loginForm");
			var forgotPasswordForm = document
					.getElementById("forgotPasswordForm");

			forgotPassword.addEventListener("click", function(event) {
				event.preventDefault();
				loginForm.style.display = "none";
				forgotPasswordForm.style.display = "block";
			});
		});
	</script>
	<script>
	 const notification = document.getElementById('notification');

	    // Display notification if thongbao has content
	    const thongbaoContent = notification.textContent.trim();
	    if (thongbaoContent !== '') {
	        notification.style.display = 'block';
	        setTimeout(() => {
	            notification.style.display = 'none';
	        }, 4000);
	    }
	</script>
	<script th:inline="javascript">
    var listUser = /*[[${listUser}]]*/ [];

    function validateAndSubmit() {
        var inputUsername = document.getElementById('inputUsername').value;
        var inputEmail = document.getElementById('inputEmail').value;
        var invalidUserEmailMessage = document.getElementById('invalidUserEmailMessage');
        var isUserValid = false;

        for (var i = 0; i < listUser.length; i++) {
            if (listUser[i].username === inputUsername && listUser[i].email === inputEmail) {
                isUserValid = true;
                break;
            }
        }

        if (isUserValid == true) {
        	document.getElementById('forgotPasswordForm').submit();

        } else {
			event.preventDefault();

            invalidUserEmailMessage.textContent = 'Tên tài khoản hoặc Email không tồn tại.';
        }
    }
</script>
	
</body>

</html>