<!-- Header -->
<div ng-include="'/admin/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/admin/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="ReportBookingController">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Báo cáo thống kê đặt sân</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="/admin/index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Báo cáo thống kê đặt sân</li>
					</ul>
				</div>

			</div>
		</div>
		<!-- /Page Header -->

		<!-- Search Filter -->
		<div class="row filter-row">


			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus select-focus">
					<select class="form-control floating" ng-model="loaiThongKe">
						<option ng-value="1">Doanh thu</option>
						<option ng-value="2">Tổng số lượng phiếu</option>
					</select> <label class="focus-label">Loại thống kê</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus select-focus">
					<select class="form-control floating" ng-model="hinhThuc">
						<option ng-value="'ko'">---Chọn hình thức---</option>
						<option ng-value="'year'">Năm</option>
						<option ng-value="'month'">Tháng</option>
					</select> <label class="focus-label">Hình thức thống kê</label>
				</div>
			</div>

			<div class="col-sm-6 col-md-3" ng-show="hinhThuc === 'month'">
				<div class="form-group form-focus select-focus">
					<select class="form-control floating" ng-model="monthThang">
						<option ng-value=0>-- Chọn Tháng --</option>
						<option ng-value=1>Tháng 1</option>
						<option ng-value=2>Tháng 2</option>
						<option ng-value=3>Tháng 3</option>
						<option ng-value=4>Tháng 4</option>
						<option ng-value=5>Tháng 5</option>
						<option ng-value=6>Tháng 6</option>
						<option ng-value=7>Tháng 7</option>
						<option ng-value=8>Tháng 8</option>
						<option ng-value=9>Tháng 9</option>
						<option ng-value=10>Tháng 10</option>
						<option ng-value=11>Tháng 11</option>
						<option ng-value=12>Tháng 12</option>
					</select> <label class="focus-label">Chọn tháng</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3" ng-show="hinhThuc === 'month'">
				<div class="form-group form-focus select-focus">
					<select class="form-control floating" ng-model="monthNam">
						<option ng-value="0">-- Chọn Năm --</option>
						<option ng-repeat="c in getYearBooking" ng-value="c[0]">{{c[0]}}</option>
					</select> <label class="focus-label">Chọn năm</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3" ng-show="hinhThuc === 'year'">
				<div class="form-group form-focus select-focus">
					<select class="form-control floating" ng-model="year_nam">
						<option ng-value="0">-- Chọn Năm --</option>
						<option ng-repeat="c in getYearBooking" ng-value="c[0]">{{c[0]}}</option>
					</select> <label class="focus-label">Chọn năm</label>
				</div>
			</div>


		</div>
		<div class="row filter-row">
			<div class="col-sm-6 col-md-2">
				<a href="#" class="btn btn-success btn-block" ng-click="xemBC()">
					Xem Báo Cáo </a>
			</div>
			<div class="col-sm-6 col-md-2" ng-show="bangThongKe === 'doanhThuThang'">
				<a href="#" class="btn btn-success btn-block" ng-click="downloadExcelDTBookingThang()"> Export Excel </a>
				
			</div>
			<div class="col-sm-6 col-md-2" ng-show="bangThongKe === 'doanhThuNam'">
				<a href="#" class="btn btn-success btn-block" ng-click="downloadExcelDTBookingNam()"> Export Excel </a>
			</div>
			<div class="col-sm-6 col-md-2" ng-show="bangThongKe === 'soLuongThang'">
				<a href="#" class="btn btn-success btn-block" ng-click="downloadExcelSLBookingThang()" > Export Excel </a>
			</div>
			<div class="col-sm-6 col-md-2" ng-show="bangThongKe === 'soLuongNam'">
				<a href="#" class="btn btn-success btn-block" ng-click="downloadExcelSLBookingNam()"> Export Excel </a>
			</div>

		</div>
		<br>
		<div class="row" id="BDduong">
			<div class="col-md-12">

				<div class="card">
					<div class="card-body">
						<h3 class="card-title">{{titleBD}}</h3>
						<div id="bieuDo"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row" id="BDcot"  style="display: none">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="card">
							<div class="card-body" >
								<h3 class="card-title">Tổng doanh thu</h3>
								<div id="bar-charts"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>-->
		<br>
		<!-- Search Filter -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive"
					ng-show="bangThongKe === 'doanhThuNam'">
					<table class="table table-striped custom-table ">
						<thead>
							<tr>
								<th>#</th>
								<th>Tháng</th>
								<th>Chi trả hủy đơn</th>
								<th>Doanh thu phiếu đặt sân đã cọc</th>
								<th>Doanh thu phiếu đặt sân đã hoàn thành</th>
								<th>Doanh thu ước tính</th>
								<th>Doanh thu thực tế</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rpdty in rpDoanhThuBookingTrongNam">
								<td>{{$index + 1}}</td>
								<td>{{rpdty[0]}}</td>
								<td>{{formatCurrency(rpdty[2])}}</td>
								<td>{{formatCurrency(rpdty[3])}}</td>
								<td>{{formatCurrency(rpdty[4])}}</td>
								<td>{{formatCurrency(rpdty[5])}}</td>
								<td>{{formatCurrency(rpdty[1])}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive"
					ng-show="bangThongKe === 'doanhThuThang'">
					<table class="table table-striped custom-table ">
						<thead>
							<tr>
								<th>#</th>
								<th>Ngày</th>
								<th>Chi trả hủy đơn</th>
								<th>Doanh thu phiếu đặt sân đã cọc</th>
								<th>Doanh thu phiếu đặt sân đã hoàn thành</th>
								<th>Doanh thu ước tính</th>
								<th>Doanh thu thực tế</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rpdtm in rpDoanhThuBookingTrongThang">
								<td>{{$index + 1}}</td>
								<td>{{rpdtm[0]}}</td>
								<td>{{formatCurrency(rpdtm[2])}}</td>
								<td>{{formatCurrency(rpdtm[3])}}</td>
								<td>{{formatCurrency(rpdtm[4])}}</td>
								<td>{{formatCurrency(rpdtm[5])}}</td>
								<td>{{formatCurrency(rpdtm[1])}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive" ng-show="bangThongKe === 'soLuongNam'">
					<table class="table table-striped custom-table ">
						<thead>
							<tr>
								<th>#</th>
								<th>Tháng</th>
								<th>Số lượng phiếu hủy đặt sân</th>
								<th>Số lượng phiếu đặt cọc sân</th>
								<th>Số lượng phiếu hoàn thành đặt sân</th>
								<th>Tổng số lượng phiếu</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rpsly in rpSoLuongBookingTrongNam">
								<td>{{$index +1}}</td>
								<td>{{rpsly[0]}}</td>
								<td>{{rpsly[2]}}</td>
								<td>{{rpsly[3]}}</td>
								<td>{{rpsly[4]}}</td>
								<td>{{rpsly[1]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive"
					ng-show="bangThongKe === 'soLuongThang'">
					<table class="table table-striped custom-table">
						<thead>
							<tr>
								<th>#</th>
								<th>Ngày</th>
								<th>Số lượng phiếu hủy đặt sân</th>
								<th>Số lượng phiếu đặt cọc sân</th>
								<th>Số lượng phiếu hoàn thành đặt sân</th>
								<th>Tổng số lượng phiếu</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rpslm in rpSoLuongBookingTrongThang">
								<td>{{$index +1}}</td>
								<td>{{rpslm[0]}}</td>
								<td>{{rpslm[2]}}</td>
								<td>{{rpslm[3]}}</td>
								<td>{{rpslm[4]}}</td>
								<td>{{rpslm[1]}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- /Page Content -->

		<!-- Add Employee Modal -->
		<div id="add_employee" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Field</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Field Name <span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Image</label><span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Price <span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Address <span
											class="text-danger">*</span></label> <input class="form-control"
											type="email">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Category Field </label> <select
											class="select">
											<option value="">Bóng đá</option>
											<option value="1">Bóng rỗ</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Description</label> <input
											class="form-control" type="password">
									</div>
								</div>



							</div>

							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Add Field</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Employee Modal -->

		<!-- Edit Employee Modal -->
		<div id="edit_employee" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg"
				role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Field</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Field Name <span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Image</label><span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Price <span
											class="text-danger">*</span></label> <input class="form-control"
											type="text">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Address <span
											class="text-danger">*</span></label> <input class="form-control"
											type="email">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Category Field </label> <select
											class="select">
											<option value="">Bóng đá</option>
											<option value="1">Bóng rỗ</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-form-label">Description</label> <input
											class="form-control" type="password">
									</div>
								</div>



							</div>

							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Edit Field</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Employee Modal -->

		<!-- Delete Employee Modal -->
		<div class="modal custom-modal fade" id="delete_employee"
			role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Field</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="javascript:void(0);"
										class="btn btn-primary continue-btn">Delete</a>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-dismiss="modal"
										class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Employee Modal -->

	</div>
	<div id="toast"></div>
</div>
<!-- /Page Wrapper -->