<!-- Header -->
<div ng-include="'/admin/templates/header.html'"></div>
<!-- /Header -->

<!-- Sidebar -->
<div ng-include="'/admin/templates/sidebar.html'"></div>
<!-- /Sidebar -->

<!-- Page Wrapper -->
<div class="page-wrapper" ng-controller="TeamController">

	<!-- Page Content -->
	<div class="content container-fluid">

		<!-- Page Header -->
		<div class="page-header">
			<div class="row align-items-center">
				<div class="col">
					<h3 class="page-title">Team</h3>
					<ul class="breadcrumb">
						<li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
						<li class="breadcrumb-item active">Team</li>
					</ul>
				</div>
				<div class="col-auto float-right ml-auto">
					<a href="#" class="btn add-btn" data-toggle="modal"
						data-target="#add"><i class="fa fa-plus" ng-click="reset()"></i>
						Add Team</a>

				</div>
			</div>
		</div>
		<!-- /Page Header -->

		<!-- Search Filter -->
		<div class="row filter-row">

			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus">
					<input type="text" class="form-control floating" ng-model="searchName"> <label
						class="focus-label">Team Name</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group form-focus select-focus">
					<select ng-model="searchSport"
						class="select floating">
						<option ng-value=null>Tất cả</option>
						<option ng-repeat="c in sporttype" ng-value="c.sporttypeid">{{c.categoryname}}</option>
					</select> <label class="focus-label">Môn thể thao</label>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<a href="#" class="btn btn-success btn-block" ng-click="search()"> Search </a>
			</div>
			<div class="col-sm-6 col-md-3">
				<a href="#" class="btn btn-success btn-block"> Reset </a>
			</div>
		</div>
		<!-- Search Filter -->

		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped custom-table datatable">
						<thead>
							<tr>
								<th>#</th>
								<th>Team Name</th>
								<th>Category Name</th>
								<th>Quantity</th>
								<th>Avatar</th>
								<th>Contact</th>
								<th>Create Date</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{$index + 1 }}</td>
								<td>{{item.nameteam}}</td>
								<td>{{item.sporttype.categoryname}}</td>
								<td>{{item.quantity}}</td>
								<td><img src="/user/images/{{item.avatar}}" width="100px"
									height="100px"></td>
								<td>{{item.contact}}</td>
								<td>{{item.createdate | date : 'dd-MM-yyyy'}}</td>
								<td class="text-right">
									<div class="dropdown dropdown-action">
										<a href="#" class="action-icon dropdown-toggle"
											data-toggle="dropdown" aria-expanded="false"><i
											class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="#" data-toggle="modal"
												data-target="#edit" ng-click="edit(item)"><i
												class="fa fa-pencil m-r-5"></i> Edit</a> <a
												class="dropdown-item" href="#" data-toggle="modal"
												data-target="#delete" ng-click="edit(item)"><i
												class="fa fa-trash-o m-r-5"></i> Delete</a>
												<a
												class="dropdown-item" href="#"  ng-click="view()"><i
												class="fa fa-trash-o m-r-5"></i> View</a>
										</div>
									</div>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- /Page Content -->

	<!-- Add Employee Modal -->
	<div id="add" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Team</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group d-flex justify-content-center">
									<label for="image" class="col-form-label"> <img
										ng-src="{{'/user/images/'+form.avatar}}"
										style="max-width: 100%; height: 200px">
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Team Name <span
										class="text-danger">*</span></label> <input class="form-control"
										type="text" ng-model="form.nameteam" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'nameteam' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Avatar<span
										class="text-danger">*</span></label> <input type="file"
										class="form-control" id="image"
										onchange="angular.element(this).scope().imageChanged(this.files)">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Quantity <span
										class="text-danger">*</span></label> <input class="form-control"
										type="number" ng-model="form.quantity" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'quantity' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Contact <span
										class="text-danger">*</span></label> <input class="form-control"
										type="text" ng-model="form.contact" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'contact' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Category Name</label> <select
										class="select" ng-model="form.sporttypeid">
										<option ng-repeat="c in sporttype" ng-value="c.sporttypeid">{{c.categoryname}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Create Date <span
										class="text-danger">*</span></label> <input class="form-control"
										type="date" ng-model="form.createdate" readonly>
										
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Create BY <span
										class="text-danger">*</span></label> <input type="text" value="{{username}}"
										readonly class="form-control floating" ng-model="form.username">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" type="text"
										ng-model="form.descriptions" ng-change="clearErrors()"></textarea>
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'descriptions' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>


						</div>

						<div class="submit-section">
							<button class="btn btn-primary submit-btn" ng-click="create()">Add Team</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Add Employee Modal -->

	<!-- Edit Employee Modal -->
	<div id="edit" class="modal custom-modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg"
			role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Team</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group d-flex justify-content-center">
									<label for="image" class="col-form-label"> <img
										ng-src="{{'/user/images/'+form.avatar}}"
										style="max-width: 100%; height: 200px">
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Team Name <span
										class="text-danger">*</span></label> <input class="form-control"
										type="text" ng-model="form.nameteam" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'nameteam' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Avatar<span
										class="text-danger">*</span></label> <input type="file"
										class="form-control" id="image"
										onchange="angular.element(this).scope().imageChanged(this.files)">
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Quantity <span
										class="text-danger">*</span></label> <input class="form-control"
										type="number" ng-model="form.quantity" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'quantity' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Contact <span
										class="text-danger">*</span></label> <input class="form-control"
										type="text" ng-model="form.contact" ng-change="clearErrors()">
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'contact' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Category Name</label> <select
										class="select" ng-model="form.sporttypeid">
										<option ng-repeat="c in sporttype" ng-value="c.sporttypeid">{{c.categoryname}}</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Create Date <span
										class="text-danger">*</span></label> <input class="form-control"
										type="date" ng-model="form.createdate" readonly>
										
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-form-label">Create BY <span
										class="text-danger">*</span></label> <input type="text" value="{{username}}"
										readonly class="form-control floating" ng-model="form.username">
								</div>
							</div>
							<div class="col-sm-12">
								<div class="form-group">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" type="text"
										ng-model="form.descriptions" ng-change="clearErrors()"></textarea>
										<errors class="badge badge-danger" ng-repeat="(index, error) in errors"
										ng-if="error.field === 'descriptions' && index === 0">{{
										error.message }}</errors>
								</div>
							</div>


						</div>

						<div class="submit-section">
							<button class="btn btn-primary submit-btn" ng-click="update()">Add Team</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- /Edit Employee Modal -->

	<!-- Delete Employee Modal -->
	<div class="modal custom-modal fade" id="delete" role="dialog">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-header">
						<h3>Delete Team</h3>
						<p>Are you sure want to delete?</p>
					</div>
					<div class="modal-btn delete-action">
						<div class="row">
							<div class="col-6">
								<a href="javascript:void(0);"
									class="btn btn-primary continue-btn" ng-click="delete(form)">Delete</a>
							</div>
							<div class="col-6">
								<a href="javascript:void(0);" data-dismiss="modal"
									class="btn btn-primary cancel-btn">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Delete Employee Modal -->
	<div id="toast"></div>
</div>
<!-- /Page Wrapper -->